<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>B2D_FE_HW_D6_Potae_P4</title>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
			rel="stylesheet"
		/>
		<!-- <link rel="stylesheet" href="../../../css_Global/myStyle.css" /> -->
		<link rel="stylesheet" href="../css/myCSS.css" />

		<style>
			body {
				background-color: gray;
				color: white;
			}
			.section {
				background-color: rgb(50, 50, 60);
				/* color: black;  */
				border: 3px solid rgb(0, 0, 0);
				border-radius: 10px;
				margin-left: 50px;
				margin-right: 50px;
				margin-top: 10px;
				/* padding-left: 30px; */
				padding: 30px;
				/* text-align: center; */
			}

			body,
			h1 {
				font-family: 'Roboto', sans-serif;
			}
		</style>
	</head>
	<body>
		<!-- <div id="header-container" ></div> -->
		<section class="section" id="playgound">
			<div class="header-link">
				<nav>
					<ul>
						<li><a href="../index.html" class="btn2"> Home</a></li>
						<li>
							<a href="./page1.html" class="btn2">
								<i class="fa-solid fa-clipboard-list" style="color: yellow"></i> Homework</a
							>
						</li>
						<li><a href="./page2.html" class="btn2">In Class</a></li>
						<li><a href="./page3.html" class="btn2">Page 3</a></li>
						<li><a href="#" class="btn2-active">Page 4</a></li>
					</ul>
				</nav>
			</div>
			<hr />
			<h3>Home work : Frount End - Day 6</h3>
			<p>Hello, You are in the page_4</p>
		</section>
	</body>
</html>
